frontend/Intermediate
frontend/frontend/App/*.exe
.vs
frontend/.vs
*.user
.editorconfig
*.ogg

frontend/frontend/src/UI/App/*.exe
frontend/frontend/src/UI/Intermediate
frontend/frontend/src/UI/.vs
frontend/frontend/src/UI/*.user
frontend/frontend/src/UI/.editorconfig


backend/Server
backend/*.o
backend/*.out
backend/test.cpp
